html { box-sizing: border-box; }

*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
    
}

.container {
    display: flex;
    background-color:#DFE2E7;
    border-radius: 10px;
    justify-content: space-evenly;
    

    
}

.hanka, .jana, .marketa, .monika {
    background-color: white;
    border-radius: 10px;
    width: 22%;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 
    
}



h1 {
    font-family: sans-serif;
    font-weight: bold;

}

p {
    text-align: center;
    font-family: "Arial", sans-serif;
    font-weight: 600;
}

h2 {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}


.foto-hanka img, .foto-jana img, .foto-marketa img, .foto-monika img {
    border-radius: 50%;

}   

.ikony-hanka, .ikony-jana, .ikony-marketa, .ikony-monika {
    display: flex;
    justify-content: space-evenly;
    
}

.linkedin-hanka, .github-hanka, .twitter-hanka,
.linkedin-jana, .github-jana, .twitter-jana,
.linkedin-marketa, .github-marketa, .twitter-marketa,
.linkedin-monika, .github-monika, .twitter-monika {
    margin: 0.5rem;
}















       











