html { box-sizing: border-box; }

*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
    font-family: "Arial", sans-serif;
    
}

.container {
    display: flex;
    background-color:#DFE2E7;
    border-radius: 10px;
    justify-content: space-evenly;
}

.contact {
    background-color: white;
    border-radius: 10px;
    flex-basis: 22%;
    padding: 2rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: sans-serif;
    font-weight: bold;
}

p {
    text-align: center;
    font-weight: 400;
}

h2 {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}


.contact img {
    border-radius: 50%;

}   

.icons {
    display: flex;
    justify-content: space-between;
}

.icons img {
    margin: 0.5rem;
}















       











